/*.row{
	width: 200px;
	vertical-align: top;
}*/

#searchWrap{
	margin-bottom: 50px;
}

.extraInfo {
	display: none;
	float: right;
}

.button {
	float: left;
	margin-right: 10px
}

hr{
	border-width: 3px;
}

.title{
	margin-right: 280px;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
}
